.search-wrapper {
    max-width: 1180px; min-height: 1020px;
    height: auto;
    margin: 0 auto;
    
    padding: 0 10px;
    font-family: 'Patua One', cursive;
    background-color: white;

    .column {
        padding: 0 !important;
    }

    .search-header {
        margin-top: 50px !important;
    }
    
    .search-menu {
    
        a {
            font-family: 'Patua One', cursive !important;
            font-size: 18px !important;
        }
    
        .active.item {
            font-weight: normal !important;
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }

        .item {
            opacity: 0.6;

            transition: all 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.75;
            }
        }
    }
}

@media (max-width: 411px) {
    .search-wrapper {
  
        .search-header,.results-header {
            font-size: 18px !important;
        }
        
        .search-menu {
        
            a {
                font-size: 15px !important;
            }
    
            .item {
                opacity: 0.6;
    
                transition: all 0.2s ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    opacity: 0.75;
                }
            }
        }
    }
}

